 <div class="timeline col-md-6">
    <div class="timeline-block">
      <div class="timeline-title">
        <span>Day
          <%= @tour_detail.day %>
        </span>
      </div>
      <div class="timeline-content medium-margin-top">
        <div class="row">
          <div class="timeline-point">
            <i class="fa fa-circle-o"></i>
          </div>
          <div class="">
            <div class="timeline-location-block">
              <p class="location-name">
                <%= @tour_details.location %>
                <i class="fa fa-map-marker icon-marker"></i>
              </p>
              <p class="description">
                <%= @tour_details.description %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
