<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 traffic">
    <div class="dashboard-list-box">
      <h4 class="gray">Your Hotels</h4>
      <div class="table-box">
        <table class="basic-table">
          <thead>
          <tr>
            <th>Car Name</th>

<!--            <th>Preview</th>-->
<!--            <th>Edit Rooms</th>-->
<!--            <th>Delete</th>-->
          </tr>
          </thead>
          <tbody>
          <% @car_rentals.each do |car| %>
          <tr id="hotel-index-<%= car.id %>">
            <td><%= car.name %></td>


<!--            <td> <a href="<%#= hotel_path(hotel) %>"> <i class="fa fa-street-view"> </i> </a>  </td>-->
<!--            <td><%#= link_to "", dashboard_hotel_hotel_rooms_path(hotel_id: hotel.id), class: "fa fa-edit", remote: true %></td>-->
<!--            <td><%#= link_to "", dashboard_hotel_path(hotel), class: "fa fa-times", method: :delete, remote: true %></td>-->
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 traffic" id="tour_details_box">

  </div>
</div>