<div id="endless-scroll" class="well text-center hidden pagination-content digg_pagination">
  <%#= image_tag 'ajax-loader.gif' %>
    <div class="pagination" id="tour-paginate" >
      <%= js_will_paginate resources %>
    </div>
</div>