<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' , user:current_user %>
  </div>
  <div class="col-lg-6 well">
    <%= render 'form' %>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' , user:current_user %>
  </div>
</div>