<% @hotel_room_facilities_name.each do |facility| %>
  <% if @hotel_room[@keys[(facility.id)+2]] %>
    <li><i class="fa fa-check" aria-hidden="true"></i><%= facility.name %></li>
  <% end %>
<% end %>