<%#= render partial: 'layouts/header' %>
<!--<div id="wrapper-content"><-- MAIN CONTENT-->
<!--  <div class="main-content">-->
<!--    <section class="padding-top padding-bottom contact-organization">-->
<!--      <div class="container"><h3 class="title-style-2">Our organization</h3>-->

<!--        <div class="row">-->
<!--          <div class="wrapper-organization">-->
<!--            <div class="col-md-3 col-sm-3 col-xs-3 md-organization">-->
<!--              <div class="content-organization">-->
<!--                <div class="wrapper-img"><%#= image_tag "", class:"img img-responsive" %></div>-->
<!--                <div class="main-organization">-->
<!--                  <div class="organization-title"><a href="#" class="title">Co-Founder</a>-->
<!--                    <p class="text">Haris Tanveer</p></div>-->
<!--                  <div class="content-widget">-->
<!--                    <div class="info-list">-->
<!--                      <ul class="list-unstyled">-->
<!--                        <li class="main-list"><i class="icons fa fa-map-marker"></i><a href="#" class="link">Pind Dadan Khan, Pakistan</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-phone"></i><a href="#" class="link">+923468578686</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-envelope-o"></i><a href="#" class="link">Haristanveer.ht@gmail.com</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-3 col-xs-3 md-organization">-->
<!--              <div class="content-organization">-->
<!--                <div class="wrapper-img"><%#= image_tag "", alt:"", class:"img img-responsive" %></div>-->
<!--                <div class="main-organization">-->
<!--                  <div class="organization-title"><a href="#" class="title">CEO</a>-->

<!--                    <p class="text">Kanwar Taimoor</p></div>-->
<!--                  <div class="content-widget">-->
<!--                    <div class="info-list">-->
<!--                      <ul class="list-unstyled">-->
<!--                        <li class="main-list"><i class="icons fa fa-map-marker"></i><a href="#" class="link">Lahore, Pakistan</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-phone"></i><a href="#" class="link">+923324808015</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-envelope-o"></i><a href="#" class="link">kanwartaimoor99@gmail.com</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-3 col-xs-3 md-organization">-->
<!--              <div class="content-organization">-->
<!--                <div class="wrapper-img"><%#= image_tag "", alt:"", class:"img img-responsive" %> </div>-->
<!--                <div class="main-organization">-->
<!--                  <div class="organization-title"><a href="#" class="title">Senior Developer</a>-->

<!--                    <p class="text">Farooq shah</p></div>-->
<!--                  <div class="content-widget">-->
<!--                    <div class="info-list">-->
<!--                      <ul class="list-unstyled">-->
<!--                        <li class="main-list"><i class="icons fa fa-map-marker"></i><a href="#" class="link">Lahore, Pakistan</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-phone"></i><a href="#" class="link">+923248440261</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-envelope-o"></i><a href="#" class="link">farooqshah@gmail.com</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-3 col-xs-3 md-organization">-->
<!--              <div class="content-organization">-->
<!--                <div class="wrapper-img"><%#= image_tag "", alt:"", class:"img img-responsive" %> </div>-->
<!--                <div class="main-organization">-->
<!--                  <div class="organization-title"><a href="#" class="title">Senior Designer</a>-->

<!--                    <p class="text">Bilal Arshad</p></div>-->
<!--                  <div class="content-widget">-->
<!--                    <div class="info-list">-->
<!--                      <ul class="list-unstyled">-->
<!--                        <li class="main-list"><i class="icons fa fa-map-marker"></i><a href="#" class="link">Lahore, Pakistan</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-phone"></i><a href="#" class="link">+923334897988</a></li>-->
<!--                        <li class="main-list"><i class="icons fa fa-envelope-o"></i><a href="#" class="link">bilalarshad1011@gmail.com</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="contact style-1 page-contact-form padding-top padding-bottom">-->
<!--      <div class="container">-->
<!--        <div class="wrapper-contact-form">-->
<!--          <div data-wow-delay="0.5s" class="contact-wrapper wow fadeInLeft">-->
<!--            <div class="contact-box"><h5 class="title">CONTACT FORM</h5>-->

<!--              <p class="text">Just pack and go! Let leave your travel plan to travel experts!</p>-->


<!--                <div class="contact-submit">-->
<!--                  <button type="submit" data-hover="SEND NOW" class="btn-slide"><span class="text">send message</span><span class="icons fa fa-long-arrow-right"></span></button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div data-wow-delay="0.5s" class="wrapper-form-images wow fadeInRight"><%#= image_tag "", alt:"", class:"img-responsive" %></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="page-contact-map">-->
<!--      <div class="map-block">-->
<!--        <div class="wrapper-info">-->
<!--          <div class="map-info"><h3 class="title-style-2">HOW TO FIND US</h3>-->

<!--            <p class="address"><i class="fa fa-map-marker"></i> Lahore, Pakistan</p>-->

<!--            <p class="phone"><i class="fa fa-phone"></i> 0346-8578686</p>-->

<!--            <p class="mail"><a href="mailto:domain@expooler.com"> <i class="fa fa-envelope-o"></i>info@bagpackers.com</a></p>-->

<!--            <div class="footer-block"><a class="btn btn-open-map">Open Map</a></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div id="googleMap"></div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--  <-- BUTTON BACK TO TOP-->
<!--</div>-->

<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
  }
</style>
<!-- Navigation Bar Ends -->
<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center">
  <div class="container">
    <div class="breadcrumb-content">
      <h2>Contact Us Page</h2>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="section-overlay"></div>
</section>
<!-- BreadCrumb Ends -->

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="contact-form" class="contact-form">

          <div id="contactform-error-msg"></div>

          <form method="post" action="#" name="contactform" id="contactform">
            <div class="row">
              <div class="form-group col-xs-12">
                <label>Name:</label>
                <input type="text" name="full_name" class="form-control" id="Name_ContactUs" placeholder="Enter full name" required>
              </div>
              <div class="form-group col-xs-6">
                <label>Email:</label>
                <input type="email" name="email" class="form-control" id="email_ContactUs" placeholder="abc@xyz.com" required>
              </div>
              <div class="form-group col-xs-6 col-left-padding">
                <label>Phone Number:</label>
                <input type="text" name="phone" class="form-control" id="phnumber_ContactUs" placeholder="XXXX-XXXXXX" required>
              </div>
              <div class="textarea col-xs-12">
                <label>Message:</label>
                <textarea name="comments" placeholder="Enter a message" required></textarea>
              </div>
              <div class="col-xs-12">
                <div class="comment-btn">
                  <input type="submit" class="btn-blue btn-red" id="submit_ContactUs" value="Send Message">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-about footer-margin">
          <div class="about-logo">
            <img src="<%= image_path 'logo_bagpackers.png' %>" alt="Image">
          </div>
          <h4>Explore Pakistan</h4>
          <p>One stop shop for travelling in Pakistan.</p>
          <div class="contact-location">
            <ul>
              <li><i class="flaticon-maps-and-flags" aria-hidden="true"></i> Lahore, Pakistan</li>
              <li><i class="flaticon-phone-call"></i> (042)-123-4567</li>
              <li><i class="flaticon-mail"></i> info@bagpackers.pk</li>
            </ul>
          </div>
          <div class="footer-social-links">
            <ul>
              <li class="social-icon"><a href="https://www.facebook.com/thealphabagpackers/?ref=bookmarks" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-icon"><a href="https://www.instagram.com/thealpha_bagpackers/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li class="social-icon"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-icon"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="map">-->
<!--  <div id="map "style="height: 350px; width: 100%;"></div>-->
<!--</div>-->
<div class="map" >
  <iframe
    width="100%"
    height="470"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgSulG2ADv-xNvPK86aJqAaBPZchBEiQk
                  &q=<%="Lahore"%>" allowfullscreen>
  </iframe>
</div>

<!-- back to top start -->
<div id="back-to-top">
  <a href="#"></a>
</div>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {lat: 31.5204, lng: 74.3587};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 3, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYEtIjNqyD1SSfLewbMAo50N2d1c0FoH0&callback=initMap">
</script>


</body>

<!-- Mirrored from cyclonethemes.com/demo/html/yatra/contactus.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2019 17:22:04 GMT -->
