/*@import url('https://fonts.googleapis.com/css?family=Poppins');*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins:700&amp;display=swap');*/
@import "theme_files/bootstrap.min.css";
@import "theme_files/hotel.css.erb";
@import "flaticon.css";
@import "theme_files/plugin.css";
require_self

/*
Personal CSS
 */
.hotel-room-thumbnail{
  width: 100%;
  height: 250px;
}
.hotel-thumbnail{
  width: 100%;
  height: 200px;
}
.hotel-cover-photo-thumbnail{
  height: 100%;
}
.checkbox-grid li {
  display: block;
  float: left;
  width: 25%;
}

#default-attribution{
  display: none;
}

/*
Personal CSS End
 */


